#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Medical Device Data Logger
Exec=/usr/bin/chromium http://localhost/ --kiosk
Icon=/var/www/PatientMonitorDataLogger.Frontend/vite.svg
