[Unit]
Description=Update Medical Device Datalogger to latest release from USB drive

[Service]
ExecStart=bash /root/update.sh usb
User=root

[Install]
WantedBy=multi-user.target
